<h1>Cocktails</h1>
<ul>
  <% @cocktails.each do |e|%>
    <%= link_to cocktail_path(e) do%>
        <li>
          <%= e.name %>
        </li>
    <% end %>
  <% end %>
</ul>
<%= link_to "Create new cocktail", new_cocktail_path %>
