<%= render 'navbar' %>
<div class="container" style="padding: 7vh">
  <%= render 'searchbar' %>
  <div class="custom-container">
    <h1 class="">0 entries found</h1>
    <i class="fas fa-search icon-size-color"></i>
  </div>
</div>

