.home-banner {
  background-image: asset-url('banner.jpg');
  background-size: cover;
  height: 100vh;
  color: #eee;
  text-align: center;
  padding-top: 40vh;
}

.show-banner {
  height: 100vh;
  color: #eee;
  text-align: center;
  padding-top: 7vh;
  background-position: center;
  background-repeat: no-repeat;
  background-color: black;
  background-size: contain;
  background-attachment: fixed;
  top: 0;
}
